.cart-item {
  border-radius: 10px;
  background-color: var(--primary-color);
  margin: 1rem 0;
  padding: 1rem 2rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-item button {
  background-color: var(--secondary-color);
  margin: 0 0.5rem;
  padding: 0.5rem 0.8rem;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 40px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: var(--secondary-color-hover);
}
