*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0275d8;
  --primary-color-hover: #0275d8aa;
  --secondary-color: #f0ad4e;
  --secondary-color-hover: #f0ad4eaa;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
